# Create an interface to practice on...
/interface lo0 admin-state enable

# Enable the gNMI Unix socket
/system gnmi-server unix-socket admin-state enable

/system snmp
community private
network-instance mgmt
 admin-state enable
 source-address [172.20.20.2]
 enable-set-interface true  !!! Agent enabled
